IoT-midterm/nodered-midterm/flows.json
[
    {
        "id": "3113204bb9c9091d",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9a845d8b93794684",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "4051cd29129c9f55",
        "type": "ui_tab",
        "name": "Server Room Monitoring System",
        "icon": "fa-fire",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "fa030880733357bb",
        "type": "ui_group",
        "name": "Temperature_1",
        "tab": "4051cd29129c9f55",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d94d62b68d7ea646",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "isrgrootx1 (1).pem",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "6b193789221d77c8",
        "type": "mqtt-broker",
        "name": "",
        "broker": "643770e1de4442bf8865d70f8313f022.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "4060ee78d9e82f3a",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "44e303a2f9f11236",
        "type": "ui_group",
        "name": "Humidity",
        "tab": "4051cd29129c9f55",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "214ee0819b22c967",
        "type": "ui_group",
        "name": "Temperature_2",
        "tab": "4051cd29129c9f55",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "92d9eb59c9d3ad6b",
        "type": "ui_group",
        "name": "Set_Temp",
        "tab": "4051cd29129c9f55",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9fcc9291e9b1f6da",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "isrgrootx1 (1).pem",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "9bc47db0d4fb7014",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "isrgrootx1 (1).pem",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "a87558bdd5ddfe56",
        "type": "mqtt-broker",
        "name": "",
        "broker": "643770e1de4442bf8865d70f8313f022.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "9bc47db0d4fb7014",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "4060ee78d9e82f3a",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "isrgrootx1 (1).pem",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "de4c81426d6e9766",
        "type": "mqtt in",
        "z": "3113204bb9c9091d",
        "name": "",
        "topic": "home/temperature_1",
        "qos": "0",
        "datatype": "buffer",
        "broker": "6b193789221d77c8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 350,
        "y": 100,
        "wires": [
            [
                "3e4266b9a52fe45e",
                "7bdf28dd3d0215f0",
                "57a1663eac39c8c1"
            ]
        ]
    },
    {
        "id": "3e4266b9a52fe45e",
        "type": "debug",
        "z": "3113204bb9c9091d",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 40,
        "wires": []
    },
    {
        "id": "7bdf28dd3d0215f0",
        "type": "ui_chart",
        "z": "3113204bb9c9091d",
        "name": "",
        "group": "fa030880733357bb",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Temp_1",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 580,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "57a1663eac39c8c1",
        "type": "ui_gauge",
        "z": "3113204bb9c9091d",
        "name": "",
        "group": "fa030880733357bb",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temp_1",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 580,
        "y": 120,
        "wires": []
    },
    {
        "id": "d872381bc7fe69c6",
        "type": "mqtt in",
        "z": "3113204bb9c9091d",
        "name": "",
        "topic": "home/humidity",
        "qos": "0",
        "datatype": "buffer",
        "broker": "6b193789221d77c8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 360,
        "y": 400,
        "wires": [
            [
                "48ed95503e35c6d8",
                "57d65d431a32bf17",
                "e5f567dc39fcbeec"
            ]
        ]
    },
    {
        "id": "e5f567dc39fcbeec",
        "type": "ui_gauge",
        "z": "3113204bb9c9091d",
        "name": "",
        "group": "44e303a2f9f11236",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 560,
        "y": 440,
        "wires": []
    },
    {
        "id": "57d65d431a32bf17",
        "type": "ui_chart",
        "z": "3113204bb9c9091d",
        "name": "",
        "group": "44e303a2f9f11236",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 560,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "48ed95503e35c6d8",
        "type": "debug",
        "z": "3113204bb9c9091d",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 360,
        "wires": []
    },
    {
        "id": "eb73d03339c28970",
        "type": "mqtt in",
        "z": "3113204bb9c9091d",
        "name": "",
        "topic": "home/temperature_2",
        "qos": "0",
        "datatype": "buffer",
        "broker": "6b193789221d77c8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 350,
        "y": 260,
        "wires": [
            [
                "873ad65154fd0426",
                "205f3c3376d6c287",
                "970b233e403955a3"
            ]
        ]
    },
    {
        "id": "873ad65154fd0426",
        "type": "debug",
        "z": "3113204bb9c9091d",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 200,
        "wires": []
    },
    {
        "id": "970b233e403955a3",
        "type": "ui_gauge",
        "z": "3113204bb9c9091d",
        "name": "",
        "group": "214ee0819b22c967",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temp_2",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 580,
        "y": 280,
        "wires": []
    },
    {
        "id": "205f3c3376d6c287",
        "type": "ui_chart",
        "z": "3113204bb9c9091d",
        "name": "",
        "group": "214ee0819b22c967",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Temp_2",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 580,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "8b0b420779ad4716",
        "type": "ui_gauge",
        "z": "3113204bb9c9091d",
        "name": "",
        "group": "92d9eb59c9d3ad6b",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "compass",
        "title": "Set_Temp",
        "label": "units",
        "format": "{{value}}",
        "min": "25",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 560,
        "y": 560,
        "wires": []
    },
    {
        "id": "bc1b50171c7c4792",
        "type": "mqtt out",
        "z": "3113204bb9c9091d",
        "name": "",
        "topic": "home/set_temp",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a87558bdd5ddfe56",
        "x": 580,
        "y": 500,
        "wires": []
    },
    {
        "id": "ee86e553b03efd98",
        "type": "ui_numeric",
        "z": "3113204bb9c9091d",
        "name": "",
        "label": "home/set_temp",
        "tooltip": "",
        "group": "92d9eb59c9d3ad6b",
        "order": 1,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "25",
        "max": "100",
        "step": 1,
        "className": "",
        "x": 360,
        "y": 500,
        "wires": [
            [
                "bc1b50171c7c4792",
                "8b0b420779ad4716"
            ]
        ]
    }
]