IoT-Final_Exam/PID TempBox_Pub/node-red/flows.json
[
    {
        "id": "3113204bb9c9091d",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9a845d8b93794684",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "4051cd29129c9f55",
        "type": "ui_tab",
        "name": "PID TempBox",
        "icon": "fa-fire",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "fa030880733357bb",
        "type": "ui_group",
        "name": "Temperature_1 (PV1)",
        "tab": "4051cd29129c9f55",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d94d62b68d7ea646",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "isrgrootx1 (1).pem",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "6b193789221d77c8",
        "type": "mqtt-broker",
        "name": "",
        "broker": "dc2f3f35405f427a8f88b059f9aa179d.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "d90aca85489e4d31",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "214ee0819b22c967",
        "type": "ui_group",
        "name": "Temperature_2 (PV2)",
        "tab": "4051cd29129c9f55",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9fcc9291e9b1f6da",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "isrgrootx1 (1).pem",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "9bc47db0d4fb7014",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "isrgrootx1 (1).pem",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "a87558bdd5ddfe56",
        "type": "mqtt-broker",
        "name": "",
        "broker": "643770e1de4442bf8865d70f8313f022.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "9bc47db0d4fb7014",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "4060ee78d9e82f3a",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "isrgrootx1 (1).pem",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "d90aca85489e4d31",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "isrgrootx1 (1).pem",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "a4bb1cf0ceba2dda",
        "type": "ui_group",
        "name": "Parameter Config",
        "tab": "4051cd29129c9f55",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a8a4f57c9764cd08",
        "type": "ui_spacer",
        "z": "3113204bb9c9091d",
        "name": "spacer",
        "group": "44e303a2f9f11236",
        "order": 2,
        "width": 6,
        "height": 1
    },
    {
        "id": "272a5bf44d149106",
        "type": "ui_spacer",
        "z": "3113204bb9c9091d",
        "name": "spacer",
        "group": "92d9eb59c9d3ad6b",
        "order": 1,
        "width": 6,
        "height": 1
    },
    {
        "id": "800a947e407da746",
        "type": "ui_spacer",
        "z": "3113204bb9c9091d",
        "name": "spacer",
        "group": "92d9eb59c9d3ad6b",
        "order": 2,
        "width": 6,
        "height": 1
    },
    {
        "id": "bd74794d6c96b185",
        "type": "ui_spacer",
        "z": "3113204bb9c9091d",
        "name": "spacer",
        "group": "92d9eb59c9d3ad6b",
        "order": 3,
        "width": 6,
        "height": 1
    },
    {
        "id": "ee48076be9e98ee0",
        "type": "ui_spacer",
        "z": "3113204bb9c9091d",
        "name": "spacer",
        "group": "92d9eb59c9d3ad6b",
        "order": 4,
        "width": 6,
        "height": 1
    },
    {
        "id": "a3e54ceee39c5919",
        "type": "ui_spacer",
        "z": "3113204bb9c9091d",
        "name": "spacer",
        "group": "92d9eb59c9d3ad6b",
        "order": 5,
        "width": 6,
        "height": 1
    },
    {
        "id": "4d1a4613cef45225",
        "type": "ui_spacer",
        "z": "3113204bb9c9091d",
        "name": "spacer",
        "group": "92d9eb59c9d3ad6b",
        "order": 6,
        "width": 6,
        "height": 1
    },
    {
        "id": "b2dbb36854504111",
        "type": "ui_spacer",
        "z": "3113204bb9c9091d",
        "name": "spacer",
        "group": "92d9eb59c9d3ad6b",
        "order": 7,
        "width": 6,
        "height": 1
    },
    {
        "id": "305d59de6ccba830",
        "type": "ui_spacer",
        "z": "3113204bb9c9091d",
        "name": "spacer",
        "group": "92d9eb59c9d3ad6b",
        "order": 8,
        "width": 6,
        "height": 1
    },
    {
        "id": "85fc48cf399f5a58",
        "type": "ui_group",
        "name": "System Parameters",
        "tab": "4051cd29129c9f55",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c779732f78d46264",
        "type": "ui_group",
        "name": "Humidity",
        "tab": "4051cd29129c9f55",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d8d9b31aa53b9fb1",
        "type": "ui_spacer",
        "z": "3113204bb9c9091d",
        "name": "spacer",
        "group": "a4bb1cf0ceba2dda",
        "order": 2,
        "width": 2,
        "height": 1
    },
    {
        "id": "5d9e18dc269d4118",
        "type": "ui_spacer",
        "z": "3113204bb9c9091d",
        "name": "spacer",
        "group": "a4bb1cf0ceba2dda",
        "order": 4,
        "width": 2,
        "height": 1
    },
    {
        "id": "8fdb393c2e132421",
        "type": "ui_spacer",
        "z": "3113204bb9c9091d",
        "name": "spacer",
        "group": "a4bb1cf0ceba2dda",
        "order": 6,
        "width": 2,
        "height": 1
    },
    {
        "id": "7aaf611f8235710f",
        "type": "ui_spacer",
        "z": "3113204bb9c9091d",
        "name": "spacer",
        "group": "a4bb1cf0ceba2dda",
        "order": 8,
        "width": 2,
        "height": 1
    },
    {
        "id": "1ff6f0d9606e4d19",
        "type": "ui_group",
        "name": "Relay",
        "tab": "4051cd29129c9f55",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "de4c81426d6e9766",
        "type": "mqtt in",
        "z": "3113204bb9c9091d",
        "name": "",
        "topic": "home/temperature_1",
        "qos": "0",
        "datatype": "buffer",
        "broker": "6b193789221d77c8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 80,
        "wires": [
            [
                "3e4266b9a52fe45e",
                "7bdf28dd3d0215f0",
                "57a1663eac39c8c1"
            ]
        ]
    },
    {
        "id": "3e4266b9a52fe45e",
        "type": "debug",
        "z": "3113204bb9c9091d",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 40,
        "wires": []
    },
    {
        "id": "7bdf28dd3d0215f0",
        "type": "ui_chart",
        "z": "3113204bb9c9091d",
        "name": "",
        "group": "fa030880733357bb",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Temp_1",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 380,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "57a1663eac39c8c1",
        "type": "ui_gauge",
        "z": "3113204bb9c9091d",
        "name": "",
        "group": "fa030880733357bb",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temp_1",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 380,
        "y": 120,
        "wires": []
    },
    {
        "id": "1bed4e7a974859a1",
        "type": "mqtt in",
        "z": "3113204bb9c9091d",
        "name": "",
        "topic": "home/temperature_2",
        "qos": "0",
        "datatype": "buffer",
        "broker": "6b193789221d77c8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 220,
        "wires": [
            [
                "f3d8459d2e5ccd63",
                "ffd0e433c1310b0e",
                "948fa5487046c4cd"
            ]
        ]
    },
    {
        "id": "f3d8459d2e5ccd63",
        "type": "debug",
        "z": "3113204bb9c9091d",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 180,
        "wires": []
    },
    {
        "id": "ffd0e433c1310b0e",
        "type": "ui_chart",
        "z": "3113204bb9c9091d",
        "name": "",
        "group": "214ee0819b22c967",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Temp_2",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 380,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "948fa5487046c4cd",
        "type": "ui_gauge",
        "z": "3113204bb9c9091d",
        "name": "",
        "group": "214ee0819b22c967",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temp_2",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 380,
        "y": 260,
        "wires": []
    },
    {
        "id": "868775d7522b123e",
        "type": "mqtt out",
        "z": "3113204bb9c9091d",
        "name": "",
        "topic": "home/setpoint/set",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6b193789221d77c8",
        "x": 790,
        "y": 280,
        "wires": []
    },
    {
        "id": "21710d7e6ae3d4bd",
        "type": "ui_text_input",
        "z": "3113204bb9c9091d",
        "name": "",
        "label": "Setpoint",
        "tooltip": "",
        "group": "a4bb1cf0ceba2dda",
        "order": 1,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "payload",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 580,
        "y": 280,
        "wires": [
            [
                "868775d7522b123e"
            ]
        ]
    },
    {
        "id": "0e90a2a336e1aaf1",
        "type": "mqtt in",
        "z": "3113204bb9c9091d",
        "name": "",
        "topic": "home/setpoint",
        "qos": "0",
        "datatype": "buffer",
        "broker": "6b193789221d77c8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 590,
        "y": 40,
        "wires": [
            [
                "4f75ec1de75079bd"
            ]
        ]
    },
    {
        "id": "7fd9df03c3ae5541",
        "type": "mqtt in",
        "z": "3113204bb9c9091d",
        "name": "",
        "topic": "home/kp",
        "qos": "0",
        "datatype": "buffer",
        "broker": "6b193789221d77c8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 580,
        "y": 80,
        "wires": [
            [
                "6017a39ca4ad2112"
            ]
        ]
    },
    {
        "id": "4f75ec1de75079bd",
        "type": "ui_text",
        "z": "3113204bb9c9091d",
        "group": "85fc48cf399f5a58",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Setpoint",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 760,
        "y": 40,
        "wires": []
    },
    {
        "id": "6017a39ca4ad2112",
        "type": "ui_text",
        "z": "3113204bb9c9091d",
        "group": "85fc48cf399f5a58",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Kp",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 750,
        "y": 80,
        "wires": []
    },
    {
        "id": "67ed14cb07f416dd",
        "type": "mqtt in",
        "z": "3113204bb9c9091d",
        "name": "",
        "topic": "home/ki",
        "qos": "0",
        "datatype": "buffer",
        "broker": "6b193789221d77c8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 570,
        "y": 120,
        "wires": [
            [
                "5ef896679ba03205"
            ]
        ]
    },
    {
        "id": "c7d4167633529a8e",
        "type": "mqtt in",
        "z": "3113204bb9c9091d",
        "name": "",
        "topic": "home/kd",
        "qos": "0",
        "datatype": "buffer",
        "broker": "6b193789221d77c8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 580,
        "y": 160,
        "wires": [
            [
                "4c8897750184d604"
            ]
        ]
    },
    {
        "id": "5ef896679ba03205",
        "type": "ui_text",
        "z": "3113204bb9c9091d",
        "group": "85fc48cf399f5a58",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Ki",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 750,
        "y": 120,
        "wires": []
    },
    {
        "id": "4c8897750184d604",
        "type": "ui_text",
        "z": "3113204bb9c9091d",
        "group": "85fc48cf399f5a58",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Kd",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 750,
        "y": 160,
        "wires": []
    },
    {
        "id": "eaefcb0b9b48d78a",
        "type": "mqtt in",
        "z": "3113204bb9c9091d",
        "name": "",
        "topic": "home/pwm",
        "qos": "0",
        "datatype": "buffer",
        "broker": "6b193789221d77c8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 580,
        "y": 200,
        "wires": [
            [
                "74b05371a52d4fe4"
            ]
        ]
    },
    {
        "id": "74b05371a52d4fe4",
        "type": "ui_text",
        "z": "3113204bb9c9091d",
        "group": "85fc48cf399f5a58",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "PWM",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 750,
        "y": 200,
        "wires": []
    },
    {
        "id": "6e75f95bc850c805",
        "type": "mqtt out",
        "z": "3113204bb9c9091d",
        "name": "",
        "topic": "home/kp/set",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6b193789221d77c8",
        "x": 770,
        "y": 320,
        "wires": []
    },
    {
        "id": "7d68886e302c63d0",
        "type": "ui_text_input",
        "z": "3113204bb9c9091d",
        "name": "",
        "label": "Kp",
        "tooltip": "",
        "group": "a4bb1cf0ceba2dda",
        "order": 3,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "payload",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 570,
        "y": 320,
        "wires": [
            [
                "6e75f95bc850c805"
            ]
        ]
    },
    {
        "id": "1cb4314e33d31512",
        "type": "mqtt out",
        "z": "3113204bb9c9091d",
        "name": "",
        "topic": "home/ki/set",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6b193789221d77c8",
        "x": 770,
        "y": 360,
        "wires": []
    },
    {
        "id": "63f9a174438e92b9",
        "type": "ui_text_input",
        "z": "3113204bb9c9091d",
        "name": "",
        "label": "Ki",
        "tooltip": "",
        "group": "a4bb1cf0ceba2dda",
        "order": 5,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "payload",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 570,
        "y": 360,
        "wires": [
            [
                "1cb4314e33d31512"
            ]
        ]
    },
    {
        "id": "4ee5aafd8aab506f",
        "type": "mqtt out",
        "z": "3113204bb9c9091d",
        "name": "",
        "topic": "home/kd/set",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6b193789221d77c8",
        "x": 770,
        "y": 400,
        "wires": []
    },
    {
        "id": "e43b66736cec0a97",
        "type": "ui_text_input",
        "z": "3113204bb9c9091d",
        "name": "",
        "label": "Kd",
        "tooltip": "",
        "group": "a4bb1cf0ceba2dda",
        "order": 7,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "payload",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 570,
        "y": 400,
        "wires": [
            [
                "4ee5aafd8aab506f"
            ]
        ]
    },
    {
        "id": "94745f4e34198525",
        "type": "ui_text",
        "z": "3113204bb9c9091d",
        "group": "a4bb1cf0ceba2dda",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Enter Your Data",
        "format": "Press 'Enter' to submit the value.",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "18",
        "color": "#000000",
        "x": 600,
        "y": 440,
        "wires": []
    },
    {
        "id": "76dfd6f489320b8e",
        "type": "mqtt in",
        "z": "3113204bb9c9091d",
        "name": "",
        "topic": "home/humidity",
        "qos": "0",
        "datatype": "buffer",
        "broker": "6b193789221d77c8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 340,
        "wires": [
            [
                "895bb781f848de34",
                "5b39ae76c8a2b12b",
                "1e7cc516234102d7"
            ]
        ]
    },
    {
        "id": "895bb781f848de34",
        "type": "debug",
        "z": "3113204bb9c9091d",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 300,
        "wires": []
    },
    {
        "id": "5b39ae76c8a2b12b",
        "type": "ui_chart",
        "z": "3113204bb9c9091d",
        "name": "",
        "group": "c779732f78d46264",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#8892a0",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 380,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "1e7cc516234102d7",
        "type": "ui_gauge",
        "z": "3113204bb9c9091d",
        "name": "",
        "group": "c779732f78d46264",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#0077b3",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 380,
        "y": 380,
        "wires": []
    },
    {
        "id": "368f84010d494412",
        "type": "ui_switch",
        "z": "3113204bb9c9091d",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "1ff6f0d9606e4d19",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "str",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 570,
        "y": 500,
        "wires": [
            [
                "e73063b225b7ac18",
                "ef54d30778876bde"
            ]
        ]
    },
    {
        "id": "e73063b225b7ac18",
        "type": "mqtt out",
        "z": "3113204bb9c9091d",
        "name": "",
        "topic": "home/relay",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6b193789221d77c8",
        "x": 770,
        "y": 500,
        "wires": []
    },
    {
        "id": "ef54d30778876bde",
        "type": "debug",
        "z": "3113204bb9c9091d",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 560,
        "wires": []
    }
]